<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <style>
      .content {
        margin-left: 20px;
        margin-top: 20px;
      }
      h1 {
      padding-bottom: 40px;
      }
      h
      .red {
      color: red;
      }
      
    </style>
<body>
  
    <body>
        
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
    <div class="content">
      <h1><span style="color:#a72550;">Wine Type Analysis</span>! </h1>



      <h3>Our Inspiration</h3>
      <p> Wine is one of the most consumed beverages around the world and it has been around since 6000 BCE!
        It is also a great way to resurface conversations, friendships, meals, late evenings, vacations, dancing, people, and emotions.
        Therefore we wanted to learn more about this fascinating beverage by exploring and analyzing different data set.
         </p>
         <p> We want to encourage the average wine drinker to explore what makes wine…well wine! What features make a wine fall into one of eight categories? This website breakdown the most looked at feature of wine and how to determine the best quality based on it’s features, origin, and cost.
          There a eight different categories of wine : red, white, rose, orange, sparkling fortified, ice, and dessert
         </p>
          
        <img src="static/images/wine_splash.png" alt="wine_splash" class="img-fluid">
        <img src="static/images/wine_statue.png" alt="wine_statue" class="img-fluid">
        <img src="static/images/background.png" alt="wine_statue" class="img-fluid">

       
      
      
        <p>Powered by: <a href="https://www.kaggle.com/datasets/nelgiriyewithana/new-york-housing-market" target="_blank">Kaggle Dataset (Click Me)</p>
</body>
</html>