<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Works Cited</title>
    <!-- Bootstrap Code -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"integrity="sha384qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"crossorigin="anonymous">

</head>

<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="wine_characteristics">Wine Characteristics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="around_the_world">Around the world</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about_us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="works_cited">Works Cited</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="write_up">Write-Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation bar -->

  <!-- Page Title/Intro -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Works Cited</h1>
        <p></p>
        <h5>The following resources were used to source our data, create dashboards, find code for our models, and build our website.</h5>
      </div>
    </div>
  <!-- Page Title/Intro -->

        
    
    <div class="container-fluid">
    
      <p> </p>
      <div class="container text-black bg-warning mb-3">
        <p></p>
 
        <div class="content">
          <div class="card-body">
            <h1 style="text-align:center">Resources</h1>
            <h3 STYLE="text-decoration:underline">Data</h3>
            <p class>Red Wine Quality</p>
            <a href="https://www.kaggle.com/datasets/uciml/red-wine-quality-cortez-et-al-2009?resource=download" target = "_blank">https://www.kaggle.com/datasets/uciml/red-wine-quality-cortez-et-al-2009?resource=download</a>
            <p class>White Wine Quality</p>
            <a href="https://www.kaggle.com/datasets/piyushagni5/white-wine-quality" target = "_blank">https://www.kaggle.com/datasets/piyushagni5/white-wine-quality</a>
            <p class>Wine Reviews</p>
            <a href="https://www.kaggle.com/datasets/zynicide/wine-reviews" target = "_blank">https://www.kaggle.com/datasets/zynicide/wine-reviews</a>
            <h3 STYLE="text-decoration:underline">Coding</h3>
            <p class="title">W3</p>
            <a href="https://www.w3schools.com/html/default.asp" target = "_blank">https://www.w3schools.com/html/default.asp</a>
            <p class="title">Bootswatch</p>
            <a href="https://bootswatch.com/flatly/" target = "_blank">https://bootswatch.com/flatly/</a>
            <p class="title">SMU Data Analytics Boot Camp Lessons</p>
            <!-- <p class="title">W3</p>
            <a href="https" target = "_blank">https</a> -->
            <h3 STYLE="text-decoration:underline">Inspirations</h3>
            <p class="title">Prediction of quality of Wine</p>
            <a href="https://www.kaggle.com/code/vishalyo990/prediction-of-quality-of-wine" target = "_blank">https://www.kaggle.com/code/vishalyo990/prediction-of-quality-of-wine</a>
            <!-- <p class="title">Tableau</p>
            <a href="https" target = "_blank">https</a> -->
            <h3 STYLE="text-decoration:underline">Other Resources</h3>
            <a href="https://agrovin.com/en/techniques-for-correcting-wine-acidity/#:~:text=Fixed%20acidity%20is%20the%20set,of%20tartaric%20acid%20per%20litre.
            " target = "_blank">hhttps://agrovin.com/en/techniques-for-correcting-wine-acidity/#:~:text=Fixed%20acidity%20is%20the%20set,of%20tartaric%20acid%20per%20litre. /</a>
            <a href="https://www.wineenthusiast.com/basics/drinks-terms-defined/volatile-acidity-wine/
            " target = "_blank">https://www.wineenthusiast.com/basics/drinks-terms-defined/volatile-acidity-wine/</a>
            <a href="https://wineserver.ucdavis.edu/industry-info/enology/methods-and-techniques/common-chemical-reagents/citric-acid
            " target = "_blank">https://wineserver.ucdavis.edu/industry-info/enology/methods-and-techniques/common-chemical-reagents/citric-acid</a>
            <a href="https://winefolly.com/deep-dive/what-is-residual-sugar-in-wine/
            " target = "_blank">https://winefolly.com/deep-dive/what-is-residual-sugar-in-wine/</a>
            <a href="https://wineamerica.org/the-magic-of-wine/wine-facts/
            " target = "_blank">https://wineamerica.org/the-magic-of-wine/wine-facts/</a>
            <a href="https://www.randoxfood.com/why-is-testing-for-free-sulphite-so2-important-in-winemaking/#:~:text=The%20sulphur%20dioxide%20ions%20that,to%20health%20if%20drank%20excessively.
            " target = "_blank">https://www.randoxfood.com/why-is-testing-for-free-sulphite-so2-important-in-winemaking/#:~:text=The%20sulphur%20dioxide%20ions%20that,to%20health%20if%20drank%20excessively.</a>
          </div>
        </div>
        <p></p>
      </div>

</body>

</html>